<img class="main-header"></img>
<!--Wallpaper and navigation bar-->
        <div class = "wallpaper">
            
            <nav class="nav">
                <!--Logo image-->
                <%= image_tag("logo1.png", height: "20%", width: "20%", alt: "Edit Entry")%>
                <a href="">Home</a>
                <a href="">About</a>
                <a href="">User</a>
                <a href="">User Info</a>
                <a id="lesson_nav" href="">Lesson</a>            
                        
        

            </nav>
            
        </div><!--End wallpaper and navigation bar-->
