
<!--Wallpaper and navigation bar-->
        <div class = "wallpaper">
            
            <nav class="nav">
                <!--Logo image-->
                
                    <a id="active" href="#">
                        <img id="logo" alt="logo">
                    </a>
                
                
                <a <%= link_to 'About', pages_path %></a>
                <a <%= link_to 'User', new_account_path %></a>
                
                <a href="">User Info</a>
                <a id="lesson_nav" href="">Lesson</a>            
                        
        

            </nav>
            
        </div><!--End wallpaper and navigation bar-->
