
<!--Wallpaper and navigation bar-->
        <div class = "wallpaper">
            
            <nav class="nav">
                <!--Logo image-->
                
                    <a id="active">
                        <img id="logo" alt="logo">
                    </a>
                
                
                <a href="">About</a>
                <a href="">User</a>
                <a href="">User Info</a>
                <a id="lesson_nav" href="">Lesson</a>            
                        
        

            </nav>
            
        </div><!--End wallpaper and navigation bar-->
