<h1>FitFun</h1>
<nav class="nav">
            
                <div class="menu">
                    <a href="#">Home</a>
                    <a href="#">Lesson</a>
                    <a href="#">User</a>
                    <a href="#">About Us</a>
                </div>
            
</nav>
