
<div class = "wallpaper1">
    
     <nav class="nav">
                <!--Logo image-->
                
                    <%# image_tag("new1/URC_logo.png") %>
                    
                    <%= link_to welcome_index_path do %>
                   <%= image_tag "", id: "logo" %>
                    <% end %>
                
                
                <a id="lesson_nav" href="">About</a>
                <a href="">User</a>
                <a href="">User Info</a>
                <a href="">Lesson</a>  
            </nav>
            
            </div>
            
    <p>Thank you for visiting our about page. FitFun was a research project created at the University od North Carolina at Charlotte in 2019. We released our first version to the world November 30th</p>