
<div class = "wallpaper1">
    
     <nav class="nav">
                <!--Logo image-->
                
                    <%# image_tag("new1/URC_logo.png") %>
                    
                    <%= link_to welcome_index_path do %>
                   <%= image_tag "", id: "logo" %>
                    <% end %>
                
                
                <a href="">About</a>
                <a href="">User</a>
                <a href="">User Info</a>
                <a  id="lesson_nav" href="">Lesson</a>  
                   
            </nav>
            </div>
                         <p class="excerpt1"><span>FitFun™ and any of its parent comanies were created the University of North Carolina at Charlotte.<br /></span>
                         <p class="excerpt1"><span><br /></span>
                        

                         <div class="sketchy">Khang Nguyen.<br /> Software Engineer Major.<br /> Chief Css and HTML designer.</div>
                         


            
