
<div class = "wallpaper0">
    
     <nav class="nav">
                <!--Logo image-->
                
                    
                    
                    <%= link_to welcome_index_path do %>
                   <%= image_tag "", id: "logo" %>
                    <% end %>
                
                
                <a href="">About</a>
                <a href="">User</a>
                <a href="">User Info</a>
                <a  id="lesson_nav" href="">Lesson</a>  
                   
            </nav>
            </div>
                         
                         <p class="excerpt1"><span>FitFun™ and any of its parent comanies were created the at University of North Carolina at Charlotte.</span>
                         <span>We are proud to bring you one of the best workout applications for family and friends.</span>
                         <span>When creating new inovations we were faced with a new frontier in computer science - The workout craze of 2019.</span>
                         <span>We began pouring through research to understand what people need and want with excersizing. The answer was, mobility.</span>
                         <span>We created this application to go anywhere you go, all you need is pocket space! <rb /></span>
                         <span>We would like to thank the development team below who's hard work and determination made this dream a reality!</span>


                        <div class="wallpaper7"></div>
                         <div class="khang">Khang Nguyen | <br />Chief CSS and ruby designer<br /> AI and Robotics Major, UNCC<br /><div class = "wallpaper2"></div>
                         <div class="brett">Brett M Lucas | <br />Executive CSS and HTML designer<br /> Cyber Security Major, UNCC<br /><div class = "wallpaper3"></div>
                         <div class="radha">Radha Patel | <br />Chief back-end designer<br /> Data Science Major, UNCC<br /><br /><div class = "wallpaper4"></div>
                         <div class="sudeepti">Sudeepti Yadla | <br />Chief database and datastructure designer<br /> Data Science Major, UNCC<br /><div class = "wallpaper5"></div>

                         
                          
