// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title{
    text-align: center;
    font-size: 85px;
    color: red;
}
.button{
    float: right;
}

/* Navigation bar */
.nav a{
    display: block;
    color: white;
    text-align: center;
    padding: 1.5% 3%;
    float: right;
    text-decoration: none;
    background-color: #333;
    border-radius: 8px;
}
#lesson_nav{
    background-color: #f58eef;
}

#lesson_nav:hover{
    background-color: #b64fc2;
}


.nav a:hover{
    background-color: #111;
}

.wallpaper0{
    background: image-url('aboutImage/CCI1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px; 
    position: relative;
    border: 4px solid green;
}

#logo{
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: block;
    text-decoration: none;
    cursor: pointer;
    background-color: darkgray;
    width: 100px;
    height: 80px;
    border-radius: 10px;
    background-image: url('logo1.png');
    background-position: center;
    background-size: cover;
    padding: 0;
    
}
#logo:hover{
    opacity: 1;
}

//Overide the padding
#active{
    float: left;
    padding:0;
}



/*---------------User form-----------*/

.input-form {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    margin-left: 20%;
    margin-right: 30%;
    font-size: 20px;
    color: #004D34;
    
}
.form{
    background-color: lightgray;
    margin-left: 20%;
    margin-right: 20%;
}

p.excerpt{  

  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  margin-top: 75px;
  left: 1000px;
  width: 320%;
  padding: 20px;
  text-align: center;
  border: 10px solid green;
  border-radius: 5px;
  top: 400px;
}
p.excerpt1{
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  left: 25px;
  margin: auto;
  margin-left: 50px;
  width: 75%;
  padding: 50px;
  text-align: justify;
  margin-top: 30px;
  }
  p.excerpt2{
      font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin: auto;
  margin-left: 50px;
  width: 75%;
  padding: 50px;
  text-align: justify;
  }
.wallpaper7{
   background: image-url('aboutImage/UNCC_Tower.jpg');
    background-repeat: no-repeat;
    background-size: 1500px 1575px;
    top: 75px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 0px;
    height: 1575px; 
    width: 1325px;
    position: relative;
    border: 4px solid green;
}

.wallpaper2{
    background: image-url('aboutImage/Khang1.PNG');
    height: 200px;
    width: 400pxpx;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
   
}
.wallpaper3{
    background: image-url('aboutImage/brett1.PNG');
    height: 200px;
    width: 400pxpx;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
   
}
.wallpaper4{
    background: image-url('aboutImage/Radha1.PNG');
    height: 200px;
    width: 400pxpx;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
   
}
.wallpaper5{
    background: image-url('aboutImage/sudeepti1.PNG');
    height: 200px;
    width: 400pxpx;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
   
}

  
.khang{
    border: 3px solid green;
     background-color: white;
    left: 40px;
  width: 350px;
  top: 736px;
  height: 300px;
  padding: 2rem;
    font-family: 'Just Another Hand', cursive;
    display: inline-block;
    font-size: 1rem;
    letter-spacing: 0.3ch;
    position: absolute;
}
.brett{
    
     border: 3px solid green;
     background-color: white;
    left: 0px;
    top: 400px;
  width: 350px;
  height: 300px;
  padding: 2rem;
    font-family: 'Just Another Hand', cursive;
    display: inline-block;
    font-size: 1rem;
    letter-spacing: 0.3ch;
    position: absolute;
   
    
}
.radha{
    
     border: 3px solid green;
     background-color: white;
    left: 0px;
    top: 400px;
  width: 350px;
  height: 300px;
  padding: 2rem;
    font-family: 'Just Another Hand', cursive;
    display: inline-block;
    font-size: 1rem;
    letter-spacing: 0.3ch;
    position: absolute;
   
    
}
.sudeepti{
    
     border: 3px solid green;
     background-color: white;
    left: 0px;
    top: 400px;
  width: 350px;
  height: 300px;
  padding: 2rem;
    font-family: 'Just Another Hand', cursive;
    display: block;
    font-size: 1rem;
    letter-spacing: 0.3ch;
    position: absolute;
   
    
}




/***************Media Query*****************/
/* Mobile Styles */
@media only screen and (max-width: 500px) {
    .title{
        font-size: 50px;
    }
    .wallpaper{
        height: 250px;
        position: relative;
    }
}


/***************Media Query*****************/
/* Mobile Styles */
@media only screen and (max-width: 500px) {
    .title{
        font-size: 50px;
    }
    .wallpaper{
        height: 250px;
        position: relative;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 501px) and (max-width: 1200px) {
    .wallpaper{
        height: 500px;
        position: relative;
    }
    .title{
        font-size: 70px;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 1201px) {
    .wallpaper{
        background-size: cover;
        height: 800px;
        position: relative;
    }
    .nav a{
        font-size: 30px;
        
    }
    
}