// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title{
    text-align: center;
    font-size: 85px;
    color: red;
}
.button{
    float: right;
}

/* Navigation bar */
.nav a{
    display: block;
    color: white;
    text-align: center;
    padding: 1.5% 3%;
    float: right;
    text-decoration: none;
    background-color: #333;
    border-radius: 8px;
}
#lesson_nav{
    background-color: #f58eef;
}

#lesson_nav:hover{
    background-color: #b64fc2;
}


.nav a:hover{
    background-color: #111;
}

.wallpaper1{
    background: image-url('aboutImage/URC_logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 350px; 
    position: relative;
    border: 3px solid #73AD21;
}

#logo{
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: block;
    text-decoration: none;
    cursor: pointer;
    background-color: darkgray;
    width: 100px;
    height: 80px;
    border-radius: 10px;
    background-image: url('logo1.png');
    background-position: center;
    background-size: cover;
    padding: 0;
    
}
#logo:hover{
    opacity: 1;
}

//Overide the padding
#active{
    float: left;
    padding:0;
}



/*---------------User form-----------*/

.input-form {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    margin-left: 20%;
    margin-right: 30%;
    font-size: 20px;
    color: #004D34;
    
}
.form{
    background-color: lightgray;
    margin-left: 20%;
    margin-right: 20%;
}

p.excerpt{  
border: 2px solid #0066FF;  
background-color:#FFCC33;  
}
p.excerpt1{
    font-family: "Times New Roman", Times, serif;
    margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;

}
p.excerpt2{ 
}
  
body {
    padding: 2rem;
    font-family: 'Just Another Hand', cursive;
    background: #f3f3f3;
    
}

.sketchy {
    padding: 25px;
    display: inline-block;
    border: 3px solid #333333;
    font-size: 1rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;
    
    &::before {
        content: '';
        border: 2px solid #353535;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
}


/***************Media Query*****************/
/* Mobile Styles */
@media only screen and (max-width: 500px) {
    .title{
        font-size: 50px;
    }
    .wallpaper{
        height: 250px;
        position: relative;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 501px) and (max-width: 1200px) {
    .wallpaper{
        height: 500px;
        position: relative;
    }
    .title{
        font-size: 70px;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 1201px) {
    .wallpaper{
        background-size: cover;
        height: 800px;
        position: relative;
    }
    .nav a{
        font-size: 30px;
        
    }
    
}