<p>
    <strong>Last Name: </strong>
    <%= @account.lName %>
</p>

<p>
    <strong>First Name: </strong>
    <%= @account.fName %>
</p>

<p>
    <strong>Email: </strong>
    <%= @account.email %>
</p>

<p>
    <strong>User Name </strong>
    <%= @account.userName %>
</p>